<div class="Product--container">
  <div *ngFor="let book of Books" class="Card--Container card">
    <div class="my-2 Image--class">
      <img
        class="img--class"
        src="{{ book.imageUrl }}"
        alt="Card image cap"
        style="width: 125px; height: 140px"
      />
    </div>

    <div class="card-body Card--Body">
      <h1 class="card-title">{{ book.title }}</h1>
      <p class="card-text">
        {{ book.description }}
      </p>
      <p class="card-text">
        {{ book.price | currency }}
      </p>
      <div class="Rating">
        <p>Rating</p>
        <p class="ratingProduct">{{ book.rating }}</p>
      </div>

      <button class="btn btn-warning" (click)="SaveCart(book)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
