.HomeGrid {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 92vh;
  background-image: linear-gradient(
    to top,
    #051937,
    #04436a,
    #00739c,
    #00a7ca,
    #16def0
  );
}

.cardGrid {
  background-image: linear-gradient(
    to right bottom,
    #f35c7b,
    #ff7249,
    #f59b00,
    #c4c600,
    #5ceb12
  );
}
