<div class="Product--container">
  <div *ngFor="let cloth of Clothes" class="Card--Container card">
    <div class="my-2 Image--class">
      <img
        class="img--class"
        src="{{ cloth.imageUrl }}"
        alt="Card image cap"
        style="width: 125px; height: 140px"
      />
    </div>

    <div class="card-body Card--Body">
      <h1 class="card-title">{{ cloth.title }}</h1>
      <p class="card-text">
        {{ cloth.description }}
      </p>
      <p class="card-text">
        {{ cloth.price | currency }}
      </p>
      <div class="Rating">
        <p>Rating</p>
        <p class="ratingProduct">{{ cloth.rating }}</p>
      </div>

      <button class="btn btn-warning" (click)="SaveCart(cloth)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
