.HomeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to left top, #370522, #4e3869, #3872ae, #00afdb, #12ebe7);
}

.cardGrid{
    background-image: linear-gradient(to right bottom, #f35c7b, #ff7249, #f59b00, #c4c600, #5ceb12);
}