.CheckOut--Page {
  width: 70vw;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  margin-top: 25px;
}

.firstFormAddress {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.SelectedMethodClass {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
