<div class="Product--container">
  <div *ngFor="let mobile of Mobiles" class="Card--Container card">
    <div class="my-2 Image--class" style="width: 18rem">
      <img
        class="img--class"
        src="{{ mobile.imageUrl }}"
        alt="Card image cap"
        style="width: 125px; height: 140px; align-self: center"
      />
    </div>

    <div class="card-body">
      <h1 class="card-title">{{ mobile.title }}</h1>
      <p class="card-text">
        {{ mobile.description }}
      </p>
      <p class="card-text">
        {{ mobile.price | currency }}
      </p>
      <div class="Rating">
        <p>Rating</p>
        <p class="ratingProduct">{{ mobile.rating }}</p>
      </div>

      <button class="btn btn-warning" (click)="SaveCart(mobile)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
