<div class="Product--container">
  <div *ngFor="let laptop of Laptops" class="Card--Container card">
    <div class="my-2 Image--class" style="width: 18rem">
      <img
        class="img--class"
        src="{{ laptop.imageUrl }}"
        alt="Card image cap"
        style="width: 125px; height: 100px; align-self: center"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ laptop.title }}</h5>
      <p class="card-text">
        {{ laptop.description }}
      </p>
      <p class="card-text">
        {{ laptop.price | currency }}
      </p>
      <div class="Rating">
        <p>Rating</p>
        <p class="ratingProduct">{{ laptop.rating }}</p>
      </div>

      <button class="btn btn-warning" (click)="SaveCart(laptop)">
        Add To Cart
      </button>
    </div>
  </div>
</div>
